/*this code belongs to the index html */
body {
    background-color: rgb(221, 116, 186);
}
/* this code belongs to the portfolio html */
.main {
    padding: 60px 15px 0;
}

#about-me-image {
    width: 250px; 
    float: left; 
    margin-right: 10px;
}

.img-fluid {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* this code belongs to the contact html */
/* Added this to create a noticeable separation between the nav bar and the form */
#contact-form {
    width: 45%;
    margin-top: 30px;
    margin-left: 30px;
}

/* this is for the sticky footer */
.footer {
    padding: 60px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

